/* 将 #waifu 元素移到右下角 */
#waifu {
    bottom: 10px;   /* 距离页面底部10px */
    right: 10px;    /* 距离页面右边10px */
    position: fixed; /* 固定位置 */
    z-index: 9999;   /* 确保 waifu 显示在所有元素的上层 */
    transform: translateY(3px);  /* 微调，防止出现不必要的偏移 */
    transition: transform .3s ease-in-out, bottom 3s ease-in-out;
}

#waifu:hover {
    transform: translateY(0); /* 鼠标悬停时让元素微调 */
}

/* 将 waifu-toggle 按钮固定在右下角 */
#waifu-toggle {
    background-color: #fa0;
    border-radius: 5px;
    bottom: 66px;        /* 距离页面底部66px */
    right: 0;            /* 距离页面右边0px */
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    padding: 5px 2px 5px 5px;
    position: fixed;     /* 固定位置 */
    width: 60px;
    writing-mode: vertical-rl;
    transition: margin-right 1s;
}

/* 按钮的活动状态调整 */
#waifu-toggle.waifu-toggle-active {
    margin-right: -50px; /* 使按钮更突出 */
}

#waifu-toggle.waifu-toggle-active:hover {
    margin-right: -30px; /* 鼠标悬停时进一步弹出 */
}

/* waifu-tips 提示框显示位置调整 */
#waifu-tips {
    animation: shake 50s ease-in-out 5s infinite;
    background-color: rgba(236, 217, 188, .5);
    border: 1px solid rgba(224, 186, 140, .62);
    border-radius: 12px;
    box-shadow: 0 3px 15px 2px rgba(191, 158, 118, .2);
    font-size: 14px;
    line-height: 24px;
    margin: -30px 20px;
    min-height: 70px;
    opacity: 0;
    overflow: hidden;
    padding: 5px 10px;
    position: absolute;
    text-overflow: ellipsis;
    transition: opacity 1s;
    width: 250px;
    word-break: break-all;
    right: 0;    /* 向右对齐 */
}

#waifu-tips.waifu-tips-active {
    opacity: 1;
    transition: opacity .2s;
}

#waifu-tips span {
    color: #0099cc;
}

/* 工具栏在右侧显示 */
#waifu-tool {
    color: #aaa;
    opacity: 0;
    position: absolute;
    right: -10px;
    top: 70px;
    transition: opacity 1s;
}

#waifu:hover #waifu-tool {
    opacity: 1;
}

#waifu-tool span {
    display: block;
    height: 30px;
    text-align: center;
}

#waifu-tool svg {
    fill: #7b8c9d;
    cursor: pointer;
    height: 25px;
    transition: fill .3s;
}

/* 悬停时改变工具栏图标的颜色 */
#waifu-tool svg:hover {
    fill: #0684bd;
}
